@import url(reset.css);
.logoRJ img {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 42rem;
  display: grid;
  place-content: center;
  transform: translate(-50%, -50%);
}
.containerChoose {
  margin-top: 3.2rem;
  max-width: 45rem;
  display: flex;
  gap: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & img {
    width: 100%;
  }
}
.mouse,
.teclado {
  text-align: center;
  width: 100%;
  padding: 2.6rem;
  border-radius: 0.8rem;
  background: linear-gradient(
    200deg,
    var(--color-primary-400),
    var(--color-primary-500)
  );
  transition: transform 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
