@import url(reset.css);

.spaceContainer {
  position: relative;
  height: 100%;
  width: 100%;

  &:hover {
    cursor: none;
  }
}
header {
  padding: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.life,
.name,
.score {
  font-weight: 700;
}
.spaceship {
  background: url(../images/spaceship1.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 9rem;
  height: 9rem;
  bottom: calc(0% + 0.5rem);
  left: calc(50% - 4.5rem);
}
.shot {
  position: absolute;
  z-index: 1;
  background: var(--color-secondary-400);
  box-shadow: 0 0 10px 2px var(--color-secondary-400);
  width: 0.5rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 10%;
  transform: translateX(-50%);
  animation: shotAnimation 500ms linear;
  animation-fill-mode: forwards;
}
.specialShot {
  position: absolute;
  z-index: 1;
  background: var(--color-primary-500);
  box-shadow: 0 0 10px 2px var(--color-primary-500);
  filter: brightness(1.2);
  width: 0.75rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 10%;
  transform: translateX(-50%);
  animation: shotAnimation 500ms linear;
  animation-fill-mode: forwards;
}

.chargeSpecialShot {
  position: absolute;
  z-index: 1;
  width: 2.4rem;
  height: 2.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  background-size: cover;
  animation: chargeSpecialShotAnimation 0.8s infiite ease-in-out;
}

.enemies {
  .enemy1 {
    width: 9rem;
    height: 9rem;
  }
  .enemy2 {
    width: 9rem;
    height: 9rem;
  }
  .enemy3 {
    width: 16rem;
    height: 16rem;
  }
}

.gameOver {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  background: #0008;
  height: 100%;
  width: 100%;
  display: none;
  & buton {
    margin-top: 2.4rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    background: var(--color-light-200);
    color: var(--color-dark-400);
  }
  & strong {
    font-size: 3.2rem;
  }
}
